
<div class="container">


  <h2>Мои герои</h2>
    <label>Имя героя:
      <input  type="text" class="form-control" placeholder="Бетмен" #heroName/>
    </label>
    <br>
    <button  class="mr-4" (click)="add(heroName.value); heroName.value=''">
      Добавить
    </button>

  <table class="table table-cards align-items-center">
    <thead>
    <tr>
      <th scope="col" class="col-4">#id</th>
      <th scope="col">Имя</th>
      <th scope="col" class="col-2">Удаление</th>
    </tr>
    </thead>
    <tbody class="list">
    <tr *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}" style="cursor: pointer">
      <th scope="row" >{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td  (click)="delete(hero)"><button>удалить</button></td>
    </tr>
    </tbody>
  </table>
</div>

