<div class="container">
  <h3>Top Heroes</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4" *ngFor="let hero of heroes"
         routerLink="/detail/{{hero.id}}" >
      <div class="card  hover-translate-y-n10 pointer-event" style="cursor: pointer">
        <img class="card-img-top " src="../../assets/img/hero.jpg">
        <div class="card-body">
          <h5 class="card-title"> Имя: {{hero.name}}</h5>
          <p class="card-text">Нажми на героя для просмотра подробной информации и редактирования</p>
        </div>
      </div>
    </div>
  </div>
</div>

















<app-hero-search></app-hero-search>
